absl-py==1.3.0
aiohttp 
aiosignal 
alabaster 
alembic==1.9.1
altair==4.2.0
anaconda-client
anyio 
appdirs==1.4.4
applaunchservices 
appnope 
appscript 
argon2-cffi 
argon2-cffi-bindings 
arrow 
astroid 
astropy 
asttokens 
astunparse==1.6.3
async-timeout 
atomicwrites==1.4.0
attrs 
Automat 
autopage==0.5.1
autopep8 
pip_chill
Babel 
backcall 
backports.functools-lru-cache 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
bitarray 
bkcharts==0.2
black 
bleach 
blinker==1.5
bokeh 
boto3 
botocore 
Bottleneck 
branca==0.5.0
brotlipy==0.7.0
cachetools 
certifi 
cffi 
chardet 
charset-normalizer 
click 
cliff==4.1.0
cloudpickle 
clyent
cmaes==0.9.1
cmd2==2.4.2
colorama 
colorcet
colorlog==6.7.0
commonmark==0.9.1
conda==22.11.1
conda-build==3.21.5
conda-content-trust 
conda-pack 
conda-package-handling 
conda-repo-cli==1.0.24
conda-token 
conda-verify==3.4.2
constantly==15.1.0
cookiecutter 
cryptography 
cssselect==1.1.0
cycler 
Cython 
cytoolz 
daal4py==2021.3.0
dask 
datashader 
datashape==0.5.4
debugpy 
decorator 
defusedxml
dill==0.3.5.1
distlib==0.3.6
distributed 
docopt==0.6.2
docutils 
entrypoints 
et-xmlfile==1.1.0
etils==0.8.0
executing 
fastapi==0.89.1
fastjsonschema 
filelock 
flake8 
Flask 
flatbuffers==22.9.24
flit_core 
folium==0.12.1.post1
fonttools==4.25.0
frozenlist 
fsspec 
future 
gast==0.4.0
gensim 
gitdb==4.0.10
GitPython==3.1.30
glob2
gmpy2 
google-api-core 
google-auth 
google-auth-oauthlib==0.4.6
google-cloud-core 
google-cloud-storage 
google-crc32c 
google-pasta==0.2.0
google-resumable-media
googleapis-common-protos 
greenlet 
grpcio 
gunicorn==20.1.0
h11==0.14.0
h5py
HeapDict 
holoviews 
hvplot 
hyperlink 
idna
imagecodecs 
imageio 
imagesize 
imbalanced-learn==0.9.1
importlib-metadata 
importlib-resources==5.10.0
incremental 
inflection==0.5.1
iniconfig 
intake 
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous 
jdcal 
jedi 
Jinja2 
jinja2-time 
jmespath 
joblib 
json5 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-server 
jupyter_core 
jupyterlab
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
keras==2.10.0
Keras-Preprocessing==1.1.2
keyring
kiwisolver 
lazy-object-proxy 
libarchive-c 
libclang==14.0.6
lightgbm==3.3.3
llvmlite==0.39.1
locket
lxml 
lz4
Mako==1.2.4
Markdown
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe==0.6.1
mistune 
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
mock 
mpmath==1.2.1
msgpack 
multidict 
multipledispatch 
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio
networkx 
nltk 
nose 
notebook 
notebook_shim 
npm==0.1.1
numba 
numexpr 
numpy 
numpydoc 
oauthlib==3.2.2
olefile 
opencv-contrib-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
optional-django==0.1.0
optuna==3.0.5
packaging 
pandas==1.4.4
pandocfilters 
panel
param 
parsel 
parso 
partd 
pathlib 
pathspec 
patsy==0.5.2
pbr==5.11.0
pep8==1.7.1
pexpect 
pickleshare 
Pillow==9.3.0
pipenv==2022.12.19
pipreqs==0.4.11
pkginfo 
platformdirs==2.6.0
plotly==5.10.0
pluggy 
poyo 
prettytable==3.5.0
prometheus-client 
promise==2.3
prompt-toolkit 
Protego 
protobuf==3.20.1
psutil 
ptyprocess 
pure-eval 
py 
pyarrow==10.0.1
pyasn1 
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycosat 
pycparser 
pyct 
pycurl==7.45.1
pydantic==1.10.4
pydeck==0.8.0
PyDispatcher==2.0.5
pydocstyle 
pyerfa 
pyflakes 
Pygments 
PyHamcrest 
PyJWT 
pylint 
pyls-spyder==0.4.0
Pympler==1.0.1
pyobjc==9.0.1
pyobjc-core==9.0.1
pyobjc-framework-Accessibility==9.0.1
pyobjc-framework-Accounts==9.0.1
pyobjc-framework-AddressBook==9.0.1
pyobjc-framework-AdServices==9.0.1
pyobjc-framework-AdSupport==9.0.1
pyobjc-framework-AppleScriptKit==9.0.1
pyobjc-framework-AppleScriptObjC==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-AppTrackingTransparency==9.0.1
pyobjc-framework-AudioVideoBridging==9.0.1
pyobjc-framework-AuthenticationServices==9.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.0.1
pyobjc-framework-Automator==9.0.1
pyobjc-framework-AVFoundation==9.0.1
pyobjc-framework-AVKit==9.0.1
pyobjc-framework-AVRouting==9.0.1
pyobjc-framework-BackgroundAssets==9.0.1
pyobjc-framework-BusinessChat==9.0.1
pyobjc-framework-CalendarStore==9.0.1
pyobjc-framework-CallKit==9.0.1
pyobjc-framework-CFNetwork==9.0.1
pyobjc-framework-ClassKit==9.0.1
pyobjc-framework-CloudKit==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Collaboration==9.0.1
pyobjc-framework-ColorSync==9.0.1
pyobjc-framework-Contacts==9.0.1
pyobjc-framework-ContactsUI==9.0.1
pyobjc-framework-CoreAudio==9.0.1
pyobjc-framework-CoreAudioKit==9.0.1
pyobjc-framework-CoreBluetooth==9.0.1
pyobjc-framework-CoreData==9.0.1
pyobjc-framework-CoreHaptics==9.0.1
pyobjc-framework-CoreLocation==9.0.1
pyobjc-framework-CoreMedia==9.0.1
pyobjc-framework-CoreMediaIO==9.0.1
pyobjc-framework-CoreMIDI==9.0.1
pyobjc-framework-CoreML==9.0.1
pyobjc-framework-CoreMotion==9.0.1
pyobjc-framework-CoreServices==9.0.1
pyobjc-framework-CoreSpotlight==9.0.1
pyobjc-framework-CoreText==9.0.1
pyobjc-framework-CoreWLAN==9.0.1
pyobjc-framework-CryptoTokenKit==9.0.1
pyobjc-framework-DataDetection==9.0.1
pyobjc-framework-DeviceCheck==9.0.1
pyobjc-framework-DictionaryServices==9.0.1
pyobjc-framework-DiscRecording==9.0.1
pyobjc-framework-DiscRecordingUI==9.0.1
pyobjc-framework-DiskArbitration==9.0.1
pyobjc-framework-DVDPlayback==9.0.1
pyobjc-framework-EventKit==9.0.1
pyobjc-framework-ExceptionHandling==9.0.1
pyobjc-framework-ExecutionPolicy==9.0.1
pyobjc-framework-ExtensionKit==9.0.1
pyobjc-framework-ExternalAccessory==9.0.1
pyobjc-framework-FileProvider==9.0.1
pyobjc-framework-FileProviderUI==9.0.1
pyobjc-framework-FinderSync==9.0.1
pyobjc-framework-FSEvents==9.0.1
pyobjc-framework-GameCenter==9.0.1
pyobjc-framework-GameController==9.0.1
pyobjc-framework-GameKit==9.0.1
pyobjc-framework-GameplayKit==9.0.1
pyobjc-framework-HealthKit==9.0.1
pyobjc-framework-ImageCaptureCore==9.0.1
pyobjc-framework-IMServicePlugIn==9.0.1
pyobjc-framework-InputMethodKit==9.0.1
pyobjc-framework-InstallerPlugins==9.0.1
pyobjc-framework-InstantMessage==9.0.1
pyobjc-framework-Intents==9.0.1
pyobjc-framework-IntentsUI==9.0.1
pyobjc-framework-IOSurface==9.0.1
pyobjc-framework-iTunesLibrary==9.0.1
pyobjc-framework-KernelManagement==9.0.1
pyobjc-framework-LatentSemanticMapping==9.0.1
pyobjc-framework-LaunchServices==9.0.1
pyobjc-framework-libdispatch==9.0.1
pyobjc-framework-LinkPresentation==9.0.1
pyobjc-framework-LocalAuthentication==9.0.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0.1
pyobjc-framework-MailKit==9.0.1
pyobjc-framework-MapKit==9.0.1
pyobjc-framework-MediaAccessibility==9.0.1
pyobjc-framework-MediaLibrary==9.0.1
pyobjc-framework-MediaPlayer==9.0.1
pyobjc-framework-MediaToolbox==9.0.1
pyobjc-framework-Metal==9.0.1
pyobjc-framework-MetalFX==9.0.1
pyobjc-framework-MetalKit==9.0.1
pyobjc-framework-MetalPerformanceShaders==9.0.1
pyobjc-framework-MetalPerformanceShadersGraph==9.0.1
pyobjc-framework-MetricKit==9.0.1
pyobjc-framework-MLCompute==9.0.1
pyobjc-framework-ModelIO==9.0.1
pyobjc-framework-MultipeerConnectivity==9.0.1
pyobjc-framework-NaturalLanguage==9.0.1
pyobjc-framework-NetFS==9.0.1
pyobjc-framework-Network==9.0.1
pyobjc-framework-NetworkExtension==9.0.1
pyobjc-framework-NotificationCenter==9.0.1
pyobjc-framework-OpenDirectory==9.0.1
pyobjc-framework-OSAKit==9.0.1
pyobjc-framework-OSLog==9.0.1
pyobjc-framework-PassKit==9.0.1
pyobjc-framework-PencilKit==9.0.1
pyobjc-framework-Photos==9.0.1
pyobjc-framework-PhotosUI==9.0.1
pyobjc-framework-PreferencePanes==9.0.1
pyobjc-framework-PushKit==9.0.1
pyobjc-framework-Quartz==9.0.1
pyobjc-framework-QuickLookThumbnailing==9.0.1
pyobjc-framework-ReplayKit==9.0.1
pyobjc-framework-SafariServices==9.0.1
pyobjc-framework-SafetyKit==9.0.1
pyobjc-framework-SceneKit==9.0.1
pyobjc-framework-ScreenCaptureKit==9.0.1
pyobjc-framework-ScreenSaver==9.0.1
pyobjc-framework-ScreenTime==9.0.1
pyobjc-framework-ScriptingBridge==9.0.1
pyobjc-framework-SearchKit==9.0.1
pyobjc-framework-Security==9.0.1
pyobjc-framework-SecurityFoundation==9.0.1
pyobjc-framework-SecurityInterface==9.0.1
pyobjc-framework-ServiceManagement==9.0.1
pyobjc-framework-SharedWithYou==9.0.1
pyobjc-framework-SharedWithYouCore==9.0.1
pyobjc-framework-ShazamKit==9.0.1
pyobjc-framework-Social==9.0.1
pyobjc-framework-SoundAnalysis==9.0.1
pyobjc-framework-Speech==9.0.1
pyobjc-framework-SpriteKit==9.0.1
pyobjc-framework-StoreKit==9.0.1
pyobjc-framework-SyncServices==9.0.1
pyobjc-framework-SystemConfiguration==9.0.1
pyobjc-framework-SystemExtensions==9.0.1
pyobjc-framework-ThreadNetwork==9.0.1
pyobjc-framework-UniformTypeIdentifiers==9.0.1
pyobjc-framework-UserNotifications==9.0.1
pyobjc-framework-UserNotificationsUI==9.0.1
pyobjc-framework-VideoSubscriberAccount==9.0.1
pyobjc-framework-VideoToolbox==9.0.1
pyobjc-framework-Virtualization==9.0.1
pyobjc-framework-Vision==9.0.1
pyobjc-framework-WebKit==9.0.1
pyodbc 
pyOpenSSL 
pyparsing 
pyperclip==1.8.2
pyrsistent 
PySocks 
pytest==7.1.2
python-dateutil 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify 
python-snappy
pytz 
pytz-deprecation-shim==0.1.0.post0
pyviz-comms 
PyWavelets 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib==1.5.0
regex 
requests 
requests-oauthlib==1.3.1
rich==13.0.0
rope 
rsa 
Rtree 
ruamel-yaml-conda 
ruamel.yaml 
ruamel.yaml.clib 
s3transfer 
scikit-image
scikit-learn==1.1.2
scikit-learn-intelex==2021.20210714.100439
scipy 
Scrapy 
seaborn
semver==2.13.0
Send2Trash 
shap==0.40.0
sip==4.19.13
six 
sklearn==0.0.post1
slicer==0.0.7
smart-open 
smmap==5.0.0
sniffio 
snowballstemmer 
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx
sphinxcontrib-applehelp 
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
SQLAlchemy
stack-data 
starlette==0.22.0
statsmodels
stevedore==4.1.1
streamlit==1.12.0
streamlit-shap==1.0.2
sympy 
tables 
tabulate 
tblib 
tenacity==8.1.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-datasets==4.7.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-metadata==1.10.0
termcolor==2.0.1
terminado 
testpath 
text-unidecode 
textdistance
threadpoolctl
three-merge 
tifffile 
tinycss 
tldextract 
toml 
tomli 
toolz 
tornado 
tqdm 
traitlets 
Twisted 
typed-ast 
typing_extensions
tzdata==2022.7
tzlocal==4.2
ujson 
Unidecode 
urllib3
uvicorn==0.20.0
validators==0.20.0
virtualenv==20.17.1
virtualenv-clone==0.5.7
w3lib
watchdog
wcwidth 
webencodings==0.5.1
websocket-client
Werkzeug 
widgetsnbextension
wrapt
wurlitzer
xarray
xlrd
xlwings
yarg==0.1.9
yarl
yellowbrick==1.5
zict==2.1.0
zipp
zope.interface
